.dialogo{

    width: 90%;
    font-size:calc(14px + 0.8vw);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    min-height: 10vh;

}

.pregunta{
    background-color: rgb(220, 220, 220);
    width: 97%;
    min-height: 5vh;
    text-align:right;
    padding: 15px;
    border-radius: 20px;
    
}
.respuesta{
    background-color: rgb(230, 230, 230);
    width: 97%;
    min-height: 5vh;
    text-align:left;
    margin-top: 0.2%;
    padding: 15px;
    border-radius: 20px;

}