.template{
    max-width: 260px;
    max-height: 280px;
    min-height: 200px;
    min-width: 200px;
    height: 50vw;
    background-color: #FFD685;
    border-style: solid;
    margin: 10px;
    border-radius: 5%;
    
}
.templateForm{
    max-width: 260px;
    max-height: 280px;
    min-height: 200px;
    min-width: 200px;
    height: 50vw;

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "a a a a b"
    "c c c c c"
    "c c c c c"; 
   
}
.inputtemplate{
    grid-area: a;
    max-height: 59px;
    background-color: #DCBCCF;
    resize: none;
    margin: 5px 0px 0px 3px;
    text-align: center;
    border: none;
    padding: 5px;
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
    overflow: hidden;
}
.buttontemplate{
    grid-area: b;
    max-height: 69px;
    background-color: #DCBCCF;  
    border: none;
    margin: 5px 3px 0px 0px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

.textareatemplate{
    background-color: #DCBCCF;
    grid-area: c;
    resize: none;
    font-size: x-large;
    margin-bottom: 3px;
    border: 0px;
    box-shadow: none;
    
    margin: 7px;
    padding: 5px;
    border-radius: 10%;
    overflow: hidden;
}

.buttontemplate:hover{
    background-color: greenyellow;
}