.botonCalc{

    width: calc(3vh + 4vw);
    height: calc(3vh + 4vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    font-size: calc(1vh + 4vw);
    border-style: solid;
    border-width: 1px;
    background-color: #1ccdaa;
    
}

.botonCalc:hover {
    background-color: #107360;
}