.pantalla_div{
  margin-top: calc(10px + 1vw);
  margin-bottom: calc(10px + 1vw);
  width: 75%;
  height: calc(0.5vh + 3vw);
  background-color: darkgray;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  font-size: calc(3vh + 2vw);
  border-style: solid;
  border-width: 5px;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.pantalla_div:hover {
    background-color: red;
    font-size: calc(2vh + 2vw);
    justify-content: center;
}