.modal_title{

    min-width: 100%;
    resize: none;
    text-align: center;
    padding: 5px;
    font-size: large;
    text-transform: capitalize;
    overflow: hidden;
}
.modal_msj{
    height: 30vh;
    min-width: 100%;
    resize: none;
    font-size: large;
    padding: 5px;
    overflow: hidden;
}