

.inputtemplate{
    min-width: 90%;
    resize: none;
    text-align: center;
    padding: 5px;
    font-size: large;
    text-transform: capitalize;
    overflow: hidden;
}


.textareatemplate{
    min-width: 90%;
    resize: none;
    font-size: large;
    padding: 5px;
    overflow: hidden;
}
