#title_1{
    font-size: 5vw;
    text-align: center;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    width: 100%;
}

#contenedor_principal_reviews{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4vw;
} 

